[
  {
    "id": "cred-mqtt-cp5",
    "name": "Mosquitto CP5",
    "type": "mqtt",
    "data": {
      "protocol": "mqtt",
      "host": "mosquitto",
      "port": 1883,
      "username": "<MQTT_USER do infra/.env>",
      "password": "<MQTT_PASSWORD do infra/.env>",
      "clean": true,
      "clientId": "",
      "ssl": false
    }
  }
]
