[
  {
    "id": "cred-mysql-cp5",
    "name": "MySQL CP5",
    "type": "mySql",
    "data": {
      "host": "mysql",
      "database": "fabrica_iot",
      "user": "cp5_app",
      "password": "<MYSQL_PASSWORD do infra/.env>",
      "port": 3306,
      "ssl": false
    }
  }
]
